<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include head %>
</head>

<body>
  <h1>New post</h1>
  <form action="" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" id="title-input" class="form-control">
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea name="body" id="body-input" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Create post</button>
  </form>
  <ul>
    <% if (typeof errors !== 'undefined') { errors.forEach((error) => { %>
      <li>
        <%= error.msg %>
      </li>
    <% }); } %>
  </ul>
  <% include foot %>
</body>

</html>